body{
    background-color: black;
    color: white;

}

fieldset {
    background-color: rgb(252, 252, 35);
    color: black;
    height: 350px;
    width: 500px;
  
}

form{
    position: relative;
    display: block;
    text-align: left;
    font-size: 1.3rem;
}

textarea{
    height: 100px;
    width: 500px;
}
 
input{
    height: 30px;
    width: 500px;
}

#boton{
    height:auto;
    width:auto;
    text-align: right;
}
